<!DOCTYPE html>
<html lang="es" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>HackNews</title>
	</head>
	<body>
		<div>
			<div style="width:100%;min-height:20%;background-color:black;color:white; padding:5%;">
				<h1 style="">HN FEED</h1></br>
				<h3> We <3 hacker news!</h3>
			</div>
			<div style="width:100%;padding:2%;">
				{{#each noticias}}
					<div id="{{ _id }}" class="noticias" style="display: flex;padding : 1%; border-bottom:1px solid black">
						<div style="width:70%">{{ story_title }}</div>
						<div style="width:20%"> {{ created_at }}</div>
						<div style="width:10%"> <a style="cursor:pointer" onclick="eliminarNoticia('{{ _id }}')"> Eliminar </a> </div>
					</div>
				{{/each}}

			</div>
		</div>
		<script>

			function eliminarNoticia(id,response){
				fetch('/eliminar?id='+id)
				  .then(document.getElementById(id).remove())
					.catch(error => console.log(error))
			}

		</script>
	</body>
</html>
